<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="net.bakaar" level="TRACE"/>
    <logger name="org.testcontainers" level="info"/>
    <logger name="org.springframework" level="info"/>
    <logger name="au.com" level="debug"/>
    <logger name="org.hibernate" level="info"/>
    <logger name="org.apache" level="error"/>
    <logger name="org.apache.zookeeper" level="error"/>
    <logger name="kafka" level="error"/>
    <logger name="com.zaxxer" level="error"/>


    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>